* {
    border: 0;
}

body {

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ac82ff;
}

.left-main {
    background-color: #f582ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 100vh;
}

.button_house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-main {
    background-color: #82f5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900x;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #97ff82;
    height: 15vh;
    flex-basis:auto;
    width: 100%;
    flex-shrink: 2;
}


.canvas {
    background-color: #fff982;
    display: flex;
    width: 900px;
    height: 900px;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.pixel {
    height: 100%;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #ffb682;
    height: 15vh;
    flex-basis:auto;
    width: 100%;
    flex-shrink: 2;
}